<div class="my-5 text-center">
    <h1>
        <img 
            style="width: 5%"
            src="https://firebasestorage.googleapis.com/v0/b/covid19-43280.appspot.com/o/covid19_icon.jpeg?alt=media&token=46d89cbe-1682-4115-928f-0ca89d082f29"
            alt="Covid-19 image"/>
        Covid-19
    </h1>
    <h2>Live Updates and Statistics</h2>
    <ng-container *ngIf="country">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>
                        <div class = "mt-3, text-center" *ngIf = "country">
                            <b><a href="">Worldwide</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> {{ country.Country }}</b>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </ng-container>
    <div *ngIf="dbService.getUser() == null;then content else other_content"></div>
    <ng-template #content>
        <button class="btn btn-info" (click)="dbService.signInWithGoogle()">Sign in with Google</button>
    </ng-template>
    <ng-template #other_content>
        <button class="btn btn-danger" (click)="dbService.signOut()">Sign Out</button>
    </ng-template>
</div>

<!-- Summary table -->
<div class="my-3">
    <ng-container *ngIf="country">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Corona Virus Summary in {{ country.Country }}
                    </th>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr class="table-warning">
                    <td class="text-left">Total Cases</td>
                    <td class="text-right">{{ country.TotalConfirmed | number }}</td>
                </tr>
                <tr class="table-warning">
                    <td class="text-left">New Cases</td>
                    <td class="text-right">{{ country.NewConfirmed | number }}</td>
                </tr>
                <tr class="table-warning">
                    <td class="text-left">Active Cases</td>
                    <td class="text-right">{{ activeCases | number }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">Total Recovered</td>
                    <td class="text-right">{{ country.TotalRecovered | number }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">New Recovered</td>
                    <td class="text-right">{{ country.NewRecovered | number }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">Recovery Rate</td>
                    <td class="text-right">{{ recoveredCases | number : '.2-2' }}%</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">Total Deaths</td>
                    <td class="text-right">{{ country.TotalDeaths | number }}</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">New Deaths</td>
                    <td class="text-right">{{ country.NewDeaths | number }}</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">Mortality Rate</td>
                    <td class="text-right">{{ deadCases | number : '.2-2' }}%</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>

<!-- Pie chart for summary -->
<div class="chart-wrapper my-5">
    <ng-container *ngIf="country">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Corona Virus Cases Distribution in {{ country.Country }}
                    </th>
                </tr>
            </thead>
        </table>
        <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
        </canvas>
    </ng-container>
</div>

<!-- Last 7 days -->
<div class="chart-wrapper my-5">
    <ng-container *ngIf="flag && country">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Daily Corona Virus Cases in {{ country.Country }}
                    </th>
                </tr>
            </thead>
        </table>
        <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </ng-container>
</div>

<!-- Historical worldwide development -->
<div class="chart-wrapper my-5">
    <ng-container *ngIf="flag && country">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Total Corona Virus Cases in {{ country.Country }}
                    </th>
                </tr>
            </thead>
        </table>
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </ng-container>
</div>

<!-- News -->
<app-news></app-news>