<div class="my-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th class="table-warning">New Cases</th>
                <th class="table-warning">Total Cases</th>
                <th class="table-primary">New Recoveries</th>
                <th class="table-primary">Total Recoveries</th>
                <th class="table-danger">New Deaths</th>
                <th class="table-danger">Total Deaths</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries">
                <td>{{ country.name }}</td>
                <td>{{ country.newConfirmed }}</td>
                <td>{{ country.totalConfirmed }}</td>
                <td>{{ country.newRecovered }}</td>
                <td>{{ country.totalRecovered }}</td>
                <td>{{ country.newDeaths }}</td>
                <td>{{ country.totalDeaths }}</td>
            </tr>
        </tbody>
    </table>
</div>