<div class="text-center">
    <div class="my-5">
        <h1>
            <img 
                style="width: 5%"
                src="https://firebasestorage.googleapis.com/v0/b/covid19-43280.appspot.com/o/covid19_icon.jpeg?alt=media&token=46d89cbe-1682-4115-928f-0ca89d082f29"
                alt="Covid-19 image"/>
            Covid-19
        </h1>
        <h2>Live Updates and Statistics</h2>
    </div>
</div>

<div class="my-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    Corona Virus Summary Worldwide
                </th>
            </tr>
        </thead>
        <tbody>
                <tr class="table-warning">
                    <td>Total Cases</td>
                    <td></td>
                </tr>
                <tr class="table-warning">
                    <td>New Cases</td>
                    <td></td>
                </tr>
                <tr class="table-warning">
                    <td>Active Cases</td>
                    <td></td>
                </tr>
                <tr class="table-danger">
                    <td>Total Recovered</td>
                    <td></td>
                </tr>
                <tr class="table-danger">
                    <td>New Recovered</td>
                    <td></td>
                </tr>
                <tr class="table-danger">
                    <td>Recovery Rate</td>
                    <td></td>
                </tr>
                <tr class="table-primary">
                    <td>Total Deaths</td>
                    <td></td>
                </tr>
                <tr class="table-primary">
                    <td>New Deaths</td>
                    <td></td>
                </tr>
                <tr class="table-primary">
                    <td>Mortality Rate</td>
                    <td></td>
                </tr>
        </tbody>
    </table>
</div>

<app-countries></app-countries>