<div class="my-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th colspan="2">
                    Corona Virus Summary Worldwide
                </th>
            </tr>
        </thead>
        <tbody>
                <tr class="table-warning">
                    <td>Total Cases</td>
                    <td>{{ country.totalConfirmed }}</td>
                </tr>
                <tr class="table-warning">
                    <td>New Cases</td>
                    <td>{{ country.newConfirmed }}</td>
                </tr>
                <tr class="table-warning">
                    <td>Active Cases</td>
                    <td>{{ country.active }}</td>
                </tr>
                <tr class="table-danger">
                    <td>Total Recovered</td>
                    <td>{{ country.totalRecovered }}</td>
                </tr>
                <tr class="table-danger">
                    <td>New Recovered</td>
                    <td>{{ country.newRecovered }}</td>
                </tr>
                <tr class="table-danger">
                    <td>Recovery Rate</td>
                    <td>{{ country.recoveryRate }}</td>
                </tr>
                <tr class="table-primary">
                    <td>Total Deaths</td>
                    <td>{{ country.totalDeaths }}</td>
                </tr>
                <tr class="table-primary">
                    <td>New Deaths</td>
                    <td>{{ country.newDeaths }}</td>
                </tr>
                <tr class="table-primary">
                    <td>Mortality Rate</td>
                    <td>{{ country.mortalityRate }}</td>
                </tr>
        </tbody>
    </table>
</div>
