<div class="text-center">
    <div class="my-5">
        <h1>
            <img 
                style="width: 5%"
                src="https://firebasestorage.googleapis.com/v0/b/covid19-43280.appspot.com/o/covid19_icon.jpeg?alt=media&token=46d89cbe-1682-4115-928f-0ca89d082f29"
                alt="Covid-19 image"/>
            Covid-19
        </h1>
        <h2>Live Updates and Statistics</h2>
    </div>
    <div *ngIf="dbService.getUser() == null;then content else other_content"></div>
    <ng-template #content>
        <button class="btn btn-info" (click)="dbService.signInWithGoogle()">Sign in with Google</button>
    </ng-template>
    <ng-template #other_content>
        <button class="btn btn-danger" (click)="dbService.signOut()">Sign Out</button>
    </ng-template>
</div>

<!-- Summary table -->
<div class="my-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Corona Virus Summary Worldwide
                </th>
            </tr>
        </thead>
    </table>
    <ng-container *ngIf="summaryData">
    <table class="table table-bordered table-striped">
        <tbody>
                <tr class="table-warning">
                    <td class="text-left">Total Cases</td>
                    <td class="text-right">{{ summaryData.Global.TotalConfirmed }}</td>
                </tr>
                <tr class="table-warning">
                    <td class="text-left">New Cases</td>
                    <td class="text-right">{{ summaryData.Global.NewConfirmed }}</td>
                </tr>
                <tr class="table-warning">
                    <td class="text-left">Active Cases</td>
                    <td class="text-right">{{ activeCases }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">Total Recovered</td>
                    <td class="text-right">{{ summaryData.Global.TotalRecovered }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">New Recovered</td>
                    <td class="text-right">{{ summaryData.Global.NewRecovered }}</td>
                </tr>
                <tr class="table-danger">
                    <td class="text-left">Recovery Rate</td>
                    <td class="text-right">{{ recoveredCases | number : '.2-2' }}%</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">Total Deaths</td>
                    <td class="text-right">{{ summaryData.Global.TotalDeaths }}</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">New Deaths</td>
                    <td class="text-right">{{ summaryData.Global.NewDeaths }}</td>
                </tr>
                <tr class="table-primary">
                    <td class="text-left">Mortality Rate</td>
                    <td class="text-right">{{ deadCases | number : '.2-2' }}%</td>
                </tr>
        </tbody>
    </table>
</ng-container>
</div>

<!-- Pie chart for summary -->
<div class="chart-wrapper my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Corona Virus Cases Distribution Worldwide
                </th>
            </tr>
        </thead>
    </table>
    <ng-container *ngIf="summaryData">
        <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
        </canvas>
    </ng-container>
</div>

<!-- Last 7 days -->
<div class="chart-wrapper my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Daily Corona Virus Cases Worldwide
                </th>
            </tr>
        </thead>
    </table>
    <ng-container *ngIf="flag7">
        <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
        </canvas>
    </ng-container>
</div>

<!-- Historical worldwide development -->
<div class="chart-wrapper my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Total Corona Virus Cases Worldwide
                </th>
            </tr>
        </thead>
    </table>
    <ng-container *ngIf="flag">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
    </ng-container>
</div>

<!-- Table of countries -->
<div class="my-3">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Corona Virus Cases by Country
                </th>
            </tr>
        </thead>
    </table>
    <!-- TODO: sort tabl using: https://medium.com/nerd-for-tech/how-to-sort-table-rows-according-column-in-angular-9-b04fdafb4140 -->
    <ng-container *ngIf="summaryData">
    <table class="table table-bordered table-striped">
        <thead class="text-center">
            <tr>
                <th class="table-secondary">Country<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-warning">New Cases<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-warning">Total Cases<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-primary">New Recoveries<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-primary">Total Recoveries<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-danger">New Deaths<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
                <th class="table-danger">Total Deaths<br>
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries">
                <td class="table-secondary text-left"><a [routerLink]="['', country.Slug]">{{ country.Country }}</a></td>
                <td class="table-warning text-right">{{ country.NewConfirmed }}</td>
                <td class="table-warning text-right">{{ country.TotalConfirmed }}</td>
                <td class="table-primary text-right">{{ country.NewRecovered }}</td>
                <td class="table-primary text-right">{{ country.TotalRecovered }}</td>
                <td class="table-danger text-right">{{ country.NewDeaths }}</td>
                <td class="table-danger text-right">{{ country.TotalDeaths }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>
</div>

<!-- News -->
<app-news></app-news>